* {
  margin: 0;
}
#header {
  display: flex;
  background-color: azure;
  border-bottom: 5px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-style: solid;
  border-color: black;
}
#header img {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 60px;
  height: 110px;
}
#header h1 {
  margin-left: 10px;
  margin-top: 56px;
  font-family: "Avantgarde", "TeX Gyre Adventor", "URW Gothic L", sans-serif;
  font-size: 35px;
  letter-spacing: 1px;
  font-weight: bold;
}
#display {
  display: flex;
}
#characters {
  margin-left: 2px;
  background-color: #3c83da;
  border-color: black;
  border-top: 0px;
  border-style: solid;
  width: 280px;
}
#characters h2 {
  text-align: center;
  text-decoration: underline;
  color: antiquewhite;
  font-size: 28px;
}
#characters ul {
  list-style-type: none;
  font-size: 25px;
  font-family: "Franklin Gothic Medium";
}
#characters ul li:hover {
  color: white;
  font-size: 28px;
}
#characters ul li:active {
  color: rgb(202, 17, 17);
  font-size: 30px;
}
#qoutes blockquote p {
  font-size: 25px;
  padding: 6px;
  margin-left: 3px;
  background-color: rgb(101, 113, 10);
  color: #fff;
  border-radius: 20px;
  border-style: solid;
  border-color: blue;
  border-start-start-radius: -4px;
  border-bottom-right-radius: -10px;
  border-top-right-radius: 30px;
}
 #qoutes blockquote p figcaption{
    color:black;
    margin-top: 3px;
    text-align: center;
    font-style: italic;
}
