* {
  margin: 0;
}
#header {
  display: flex;
  background-color: #fff;
  border-bottom: 5px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-style: solid;
  border-color: black;
}
#header img {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 160px;
  height: 150px;
}
#header h1 {
  margin-left: 10px;
  margin-top: 56px;
  font-family: "Avantgarde", "TeX Gyre Adventor", "URW Gothic L", sans-serif;
  font-size: 35px;
  letter-spacing: 1px;
  font-weight: bold;
}
#display {
  display: flex;
}
#characters {
  margin-left: 2px;
  background-color: #3c83da;
  border-color: black;
  border-top: 0px;
  border-style: solid;
  width: 280px;
}
#characters h2 {
  text-align: center;
  text-decoration: underline;
  color: antiquewhite;
  font-size: 28px;
}
#characters ul {
  list-style-type: none;
  font-size: 25px;
  font-family: "Franklin Gothic Medium";
}
#characters ul li:hover {
  color: white;
  font-size: 28px;
}
#characters ul li:active {
  color: rgb(202, 17, 17);
  font-size: 30px;
}
#qoutes {
  margin-top: 4px;
  text-align: center;
}
#qoutes blockquote p {
  font-size: 36px;
  text-align: center;
  padding: 6px;
  margin-left: 25px;
  background-color: #3c83da;
  color: #fff;
  border-radius: 60px;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  border-bottom: 0px;
  border-bottom-right-radius: 60px;
  width: 90%;
}
#qoutes blockquote p figcaption {
  color: black;
  font-size: 33px;
  margin-top: 3px;
  text-align: center;
  font-style: italic;
}
.like_btn {
  margin-left: 20px;
  padding: 10px 15px;
  background: #145392;
  font-size: 28px;
  font-family: "Avantgarde", "TeX Gyre Adventor", "URW Gothic L", sans-serif;
  border-radius: 30px;
  color: #ffff;
  border-color: black;
  border-style: double;
  border-width: 3px;
  cursor: pointer;
}
.like_btn:hover {
  box-shadow: 0 5px rgb(0, 89, 0);
  color: black;
  background-color: #fff;
  font-size: 28px;
}
.like_btn:active {
  transform: translateY(6px);
  box-shadow: 0 7px rgb(0, 0, 0);
  color: red;
  border-color: red;
  background: #fff;
}
